@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-black: #2D2C33;
  --color-brown: #A77655;
  --color-lightBrown: #DDC3A0;
  --color-khaki: #A5996D;
  --color-green: #A6B2A9;
  --color-link: #0000EE;

  --font-family-*: initial;
  --font-family-larsseit: "Larsseit";

  --text-*: initial;
  --text-heading: 3rem;
  --text-heading--line-height: 110%;
  --text-heading--letter-spacing: 0.18rem;
  --text-heading--font-weight: 700;
  --text-subheading: 1.5rem;
  --text-subheading--line-height: 120%;
  --text-subheading--letter-spacing: 0.06rem;
  --text-subheading--font-weight: 500;
  --text-paragraph: 1rem;
  --text-paragraph--line-height: 125%;
  --text-paragraph--letter-spacing: 0.02rem;
  --text-paragraph--font-weight: 300;
  --text-button: 1rem;
  --text-button--line-height: 125%;
  --text-button--letter-spacing: 0.02rem;
  --text-button--font-weight: 500;
  --text-logoLarge: 1rem;
  --text-logoLarge--line-height: 80%;
  --text-logoLarge--letter-spacing: 0.055rem;
  --text-logoLarge--font-weight: 500;
  --text-logoSmall: 0.744rem;
  --text-logoSmall--line-height: 90%;
  --text-logoSmall--letter-spacing: 0.04092rem;
  --text-logoSmall--font-weight: 500;

  --breakpoint-*: initial;
  --breakpoint-phone: 400px;
  --breakpoint-tablet: 600px;
  --breakpoint-tabletLarge: 950px;
  --breakpoint-desktopSmall: 1100px;
  --breakpoint-desktop: 1500px;

  --drop-shadow-default: 0 4px 4px rgba(45, 44, 51, 0.25);

  --spacing-15: 3.75rem;
}

@layer base {
  @font-face {
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/LarsseitLight.woff2') format('woff2'),
      url('/fonts/LarsseitLight.woff') format('woff'),
      url('/fonts/LarsseitLight.otf') format('opentype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/LarsseitLightItalic.woff2') format('woff2'),
      url('/fonts/LarsseitLightItalic.woff') format('woff'),
      url('/fonts/LarsseitLightItalic.otf') format('opentype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/LarsseitMedium.woff2') format('woff2'),
      url('/fonts/LarsseitMedium.woff') format('woff'),
      url('/fonts/LarsseitMedium.otf') format('opentype');
    font-display: swap;
  }

}

@layer components {
  * {
    @apply text-black underline-offset-[6px];
    font-family: var(--font-family-larsseit);
  }

  html {
    scroll-behavior: smooth;
  }

  h1,
  h2 {
    @apply text-heading uppercase text-center desktopSmall:text-left
  }

  h3, h4, h5, h6 {
    @apply text-subheading text-center desktopSmall:text-left
  }

  p, ul, ol {
    @apply text-paragraph text-center desktopSmall:text-justify
  }

  a {
    @apply text-button
  }

  img {
    @apply drop-shadow-default rounded-lg object-cover w-full h-full
  }

  label {
    @apply text-white text-paragraph
  }

  input, textarea {
    @apply bg-white/90 text-black rounded text-paragraph placeholder-black/75 border border-black/25 italic px-2 py-2 focus:bg-white focus:placeholder-black focus:not-italic focus:text-black
  }

  .triangle-small {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #A5996D;
  }

  .triangle-right {
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 25px solid #DDC3A0;
  }

  .triangle-right-large {
    width: 0;
    height: 0;
    border-top: 29px solid transparent;
    border-bottom: 29px solid transparent;
    border-left: 25px solid #DDC3A0;
  }

  .spinner {
    width: 30px;
    height: 30px;
    position: relative;
    margin: -0.3rem auto;
  }

  .spinner::before,
  .spinner::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid transparent;
    border-top-color: #A77655;
    /* Change the color here */
    animation: spin 1s linear infinite;
  }

  .spinner::after {
    animation-delay: 0.5s;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .spinner-large {
    width: 75px;
    height: 75px;
    position: relative;
    margin: -0.1rem auto;
  }

  .spinner-large::before,
  .spinner-large::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 6px solid transparent;
    border-top-color: #2D2C33;
    animation: spin 1s linear infinite;
  }

  .spinner-large::after {
    animation-delay: 0.5s;
  }

  .spinner-small {
    width: 20px;
    height: 20px;
    position: relative;
    margin: -0.1rem auto;
  }

  .spinner-small::before,
  .spinner-small::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 3.5px solid transparent;
    border-top-color: #A77655;
    animation: spin 1s linear infinite;
  }

  .spinner-small::after {
    animation-delay: 0.5s;
  }

}