@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: 100;
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThin.otf') format('opentype');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThin.woff') format('woff');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThin.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: italic;
    font-weight: 100;
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThinItalic.otf') format('opentype');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThinItalic.woff') format('woff');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThinItalic.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: 300;
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThin.otf') format('opentype');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThin.woff') format('woff');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThin.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: italic;
    font-weight: 300;
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThinItalic.otf') format('opentype');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThinItalic.woff') format('woff');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitThinItalic.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: 500;
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitMedium.otf') format('opentype');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitMedium.woff') format('woff');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitMedium.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: italic;
    font-weight: 500;
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitMediumItalic.otf') format('opentype');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitMediumItalic.woff') format('woff');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitMediumItalic.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: 700;
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitBold.otf') format('opentype');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitBold.woff') format('woff');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitBold.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: italic;
    font-weight: 700;
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitBoldItalic.otf') format('opentype');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitBoldItalic.woff') format('woff');
    src: url('https://the-wright-designs-website-images.s3.af-south-1.amazonaws.com/monks-medical/_fonts/LarsseitBoldItalic.woff2') format('woff2');
    font-display: swap
  }
}

@layer components {
  * {
    @apply font-larsseit text-black underline-offset-[6px];
  }

  html {
    scroll-behavior: smooth;
  }

  h1,
  h2 {
    @apply text-heading uppercase text-center desktopSmall:text-left
  }

  h3, h4, h5, h6 {
    @apply text-subheading text-center desktopSmall:text-left
  }

  p, ul, ol {
    @apply text-paragraph text-center desktopSmall:text-justify
  }

  a {
    @apply text-button
  }

  img {
    @apply drop-shadow-default rounded-lg object-cover w-full h-full
  }

  label {
    @apply text-white text-paragraph
  }

  input, textarea {
    @apply bg-white/90 text-black rounded text-paragraph placeholder-black/75 border border-black/25 italic px-2 py-2 focus:bg-white focus:placeholder-black focus:not-italic focus:text-black
  }

  .triangle-small {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #A5996D;
  }

  .triangle-right {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 22px solid #DDC3A0;
  }

  .triangle-right-large {
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 22px solid #DDC3A0;
  }

}