@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: 100;
    src: url('./_fonts/LarsseitThin.otf') format('opentype');
    src: url('./_fonts/LarsseitThin.woff') format('woff');
    src: url('./_fonts/LarsseitThin.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: italic;
    font-weight: 100;
    src: url('./_fonts/LarsseitThinItalic.otf') format('opentype');
    src: url('./_fonts/LarsseitThinItalic.woff') format('woff');
    src: url('./_fonts/LarsseitThinItalic.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: 300;
    src: url('./_fonts/LarsseitThin.otf') format('opentype');
    src: url('./_fonts/LarsseitThin.woff') format('woff');
    src: url('./_fonts/LarsseitThin.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: italic;
    font-weight: 300;
    src: url('./_fonts/LarsseitThinItalic.otf') format('opentype');
    src: url('./_fonts/LarsseitThinItalic.woff') format('woff');
    src: url('./_fonts/LarsseitThinItalic.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: 500;
    src: url('./_fonts/LarsseitMedium.otf') format('opentype');
    src: url('./_fonts/LarsseitMedium.woff') format('woff');
    src: url('./_fonts/LarsseitMedium.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: italic;
    font-weight: 500;
    src: url('./_fonts/LarsseitMediumItalic.otf') format('opentype');
    src: url('./_fonts/LarsseitMediumItalic.woff') format('woff');
    src: url('./_fonts/LarsseitMediumItalic.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: 700;
    src: url('./_fonts/LarsseitBold.otf') format('opentype');
    src: url('./_fonts/LarsseitBold.woff') format('woff');
    src: url('./_fonts/LarsseitBold.woff2') format('woff2');
    font-display: swap
  }

  @font-face {
    font-family: 'Larsseit';
    font-style: italic;
    font-weight: 700;
    src: url('./_fonts/LarsseitBoldItalic.otf') format('opentype');
    src: url('./_fonts/LarsseitBoldItalic.woff') format('woff');
    src: url('./_fonts/LarsseitBoldItalic.woff2') format('woff2');
    font-display: swap
  }
}

@layer components {
  * {
    @apply font-larsseit text-black underline-offset-[6px];
  }

  h1,
  h2 {
    @apply text-heading uppercase
  }

  h3, h4, h5, h6 {
    @apply text-subheading
  }

  p, ul, ol {
    @apply text-paragraph text-justify
  }

  a {
    @apply text-button
  }

  img {
    @apply drop-shadow-default rounded-lg object-cover w-full h-full
  }

}